@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.Main {
  display: flex;
  justify-content: center;
}

.content-spacer {
  width: 60%;
  margin-top: 9rem;
}

.sort-container,
.student-container,
.person-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.plate {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  width: 120px;
  height: 25px;
  border-color: black;
}

.student-names {
  display: flex;
}

.student-container {
  display: flex;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;
  width: 100px;
}

.btn {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: #1e40af;
  border-style: solid;
  &__active {
    color: white;
    background-color: #1e40af;
  }
  &__normal {
    color: #1e40af;
  }
}

.row {
  button {
    margin-right: 0.5rem;
    margin-bottom: 2.5rem;
  }
}
