.sort-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.plate {
  min-width: 90px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.person-container {
  display: flex;
  justify-content: space-between;
}

.student-container {
  width: 80%;
}


.student-names {
  display: flex;
}  

.student-grades {
  display: flex;
}